img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.logos {
  display: block;
  margin-left: auto;
  margin-right: auto
}


main {
    flex: 1 0 auto;
  }

.parallax{
    position:static;
  }

html{
  background-color: #ce93d8;
}

.parallax-container {
     height: "600px";
   }

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
#map {
   height: 100%;
 }
